body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

form div {
    margin-bottom: 15px;
}

label {
    display: block;
	text-align: center;
	color: #606060;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;	
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
	width: 90px;
    background: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    display: block;
    margin: 0 auto;	
}

button:hover {
    background-color: #0056b3;
}